<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rabbit : Home</title>
    <link rel="icon" type="image/icon" href="../static/images/tabicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/pure-min.css">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i" rel="stylesheet">
    <link href v="https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700i|Josefin+Sans:700" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link rel="icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>

<body>                                                <!-- index ends here -->
<div id="about_scroll" class="pages ">                      <!-- about strats here  -->
    <div id="weibo_scroll" class="pages">                             <!-- Contact starts here -->
        <div class="container main">
            <div class="row">
                <div class="col-md-6 left" id="weibo_left">
                    <img class="img-responsive img-rabbit" src="../static/images/contact.jpg">
                </div>

                <div class="col-md-6 right" id="weibo_right">
                    <a href="/weibo/index" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> Back to Home </a>
                    <div id="watermark">
                        <h2 class="page-title" text-center>Weibo</h2>
                        <div class="marker">W</div>
                    </div>
                    <!-- form -->
                    <div class="w_body pre-scrollable w_more_body">
                        {% for w in weibos %}
                        <div class="w_info">
                         		<span class="w_name">@{{ w.user().username }}:
                         		</span>
                            <a href="/weibo/content/{{ w.id }}" class="w_more_info">查看全文</a>
                            <p class="w_content">{{ w.content }}</p>
                            <span class="w_time">发布时间：{{ w.updateTime}}</span>
                            <a href="/weibo/content/{{ w.id }}">评论</a>
                            <a href="/weibo/edit/{{ w.id }}">编辑</a>
                            <a href="/weibo/delete/{{ w.id }}">删除</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/jquery-3.1.0.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>