<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rabbit : Home</title>
    <link rel="icon" type="image/icon" href="../../../static/images/tabicon.ico">

    <link rel="stylesheet" type="text/css" href="../../../static/css/pure-min.css">
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700i|Josefin+Sans:700" rel="stylesheet">
    <link href="../../../static/css/main.css" rel="stylesheet">
    <link rel="icon" href="../../../static/images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>
<body>
<div id="weibo_scroll" class="pages">                             <!-- Contact starts here -->
    <div class="container main">
        <div class="row">
            <div class="col-md-6 left" id="weibo_left">
                <img class="img-responsive img-rabbit" src="../../../static/images/contact.jpg">
            </div>

            <div class="col-md-6 right" id="weibo_right">
                <a href="/weibo/more" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> Back to Home </a>
                <div id="watermark">
                    <h2 class="page-title" text-center>Weibo</h2>
                    <div class="marker">W</div>
                </div>
                <div class='weibo_header'>
                    <form action="/weibo/update" method="post" >
                        <div class="row">
                            <input name="id" value="{{w.id}}" hidden>
                            <textarea class="form-control col-md-8" rows="3" cols="2"  name="content" value="{{w.content}}"></textarea>
                            <input type="submit" value="修改" class='submit w_submit col-md-4'>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../static/js/jquery-3.1.0.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
</body>
</html>
<!--
<form action="/weibo/update" method="post">
    <input name="id" value="{{weibo.id}}" hidden>
    <input name="content" value="{{weibo.content}}">
    <br>
    <button type="submit">提交修改</button>
</form>
-->